= render partial: 'schools/header', locals: { }
= render partial: 'schools/bread-crumbs', locals: { }
.main-contents
  .wrapper
    .items
      .items__genre
        .category__title
          .category__title__text
            = "#{@language.name}のスクール一覧"
        .item-index
          .items
            - @language.schools.each do |school|
              .item
                = link_to school_path(school), class: "item-link" do
                  = image_tag "#{school.image_url}", class:"item__image"

                  .item__name
                    %span.item__name__text
                      = school.name


= render partial: '/schools/footer', locals: { }