= render partial: 'schools/header', locals: { }
.main-contents
  = image_tag "toppage/main_m.jpg", class: "back-image"
  .popularity-index
    %h2.index-genre
      場所から探す
    %div.genre
      %ul.genre__wrapper
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            東京
            = image_tag "https://takeshi.top/wp-content/uploads/2017/06/prosch-sejuku.png", class:"genre__wrapper__list__image"
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            横浜
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            名古屋
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            大阪
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            福岡
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            オンライン

  .popularity-index
    %h2.index-genre
      言語から探す
    %div.genre
      %ul.genre__wrapper
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            Ruby
            = image_tag "https://takeshi.top/wp-content/uploads/2017/06/prosch-sejuku.png", class:"genre__wrapper__list__image"
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            Python
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            PHP
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            JavaScript
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            Go
        %li.genre__wrapper__list
          = link_to "", class: "genre__wrapper__list__name" do
            Swift


  .wrapper
    .items
      .items__genre

        .items__genre__title
          %h3.items__genre__title__text
            レビュー数ランキング
          = link_to "", class: "see-more" do
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            - @schools.each do |school|
              .item
                = link_to school_path(school), class: "item-link" do
                  = image_tag "#{school.image_url}", class:"item__image"
                  -# %span.item__price
                  -#   = "¥#{me_item.total_price.to_s(:delimited)}"
                  .item__name
                    %span.item__name__text
                      = school.name


        .items__genre__title
          %h3.items__genre__title__text
            高評価ランキング
          = link_to "", class: "see-more" do
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            - @schools.each do |school|
              .item
                = link_to school_path(school), class: "item-link" do
                  = image_tag "#{school.image_url}", class:"item__image"
                  -# %span.item__price
                  -#   = "¥#{me_item.total_price.to_s(:delimited)}"
                  .item__name
                    %span.item__name__text
                      = school.name


        .items__genre__title
          %h3.items__genre__title__text
            今オススメのスクールランキング
          = link_to "", class: "see-more" do
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            - @schools.each do |school|
              .item
                = link_to school_path(school), class: "item-link" do
                  = image_tag "#{school.image_url}", class:"item__image"
                  -# %span.item__price
                  -#   = "¥#{me_item.total_price.to_s(:delimited)}"
                  .item__name
                    %span.item__name__text
                      = school.name



        .items__genre__title
          %h3.items__genre__title__text
            こだわり条件から探す
          = link_to "", class: "see-more" do
            もっと見る
            =fa_icon 'chevron-right'
        .item-index
          .items
            - @schools.each do |school|
              .item
                = link_to school_path(school), class: "item-link" do
                  = image_tag "#{school.image_url}", class:"item__image"
                  -# %span.item__price
                  -#   = "¥#{me_item.total_price.to_s(:delimited)}"
                  .item__name
                    %span.item__name__text
                      = school.name


-# = render partial: 'items/sell-icon', locals: { }
-# = render partial: 'items/aside', locals: { }
= render partial: 'schools/footer', locals: { }