= render partial: 'schools/header', locals: { }
= render partial: 'schools/bread-crumbs', locals: { }

.item-detail-wrapper
  .item-box-container
    %h1.item-name
      = @school.name

    .item-main-content
      .item__photos
        = link_to "#{@school.company_url}", class: "item-link" ,'data-turbolinks': false do
          = image_tag "#{@school.image_url}", class:"item__main-photo"
      %table.item-detail-table
        %tbody
          %tr
            %th 口コミ評価平均
            %td
              -if @reviews.present?
                = @school.review_average
              -else
                まだレビューが投稿されていません


          %tr
            %th 場所
            %td
              %ul
                %li
                  - @school.locations.each do |school_location|
                    =link_to school_location.name,location_path(school_location)
          %tr
            %th 学べる言語
            %td
              %ul
                %li
                  - @school.languages.each do |shool_language|
                    =link_to shool_language.name,language_path(shool_language)
    .item-introduction
      %p
        = @school.detail
  .item__chat-message
    .message-container
      .message-content
        %ul.message-items
          - @school.reviews. each do |review|
            %li
              .list-left
                .user-avater
                  = image_tag review.user.avatar, class: 'user-avater' if review.user.avatar.attached?
              .list-right
                .user-name
                  = review.user.nickname
                .user-message-body
                  %ul.user-message-body__list
                    - if user_signed_in? && current_user.id == review.user_id or current_user.admin?
                      %li
                        = link_to '編集', edit_school_review_path(review,school_id: review.school_id)
                      %li
                        = link_to '削除', school_review_path(review,school_id: review.school_id), method: :delete
                  %h3 【評価点】
                  .user-message-body__text
                    = review.rate

                  %h3 【スクールの良かった点】
                  .user-message-body__text
                    = review.content_good

                  %h3 【スクールの悪かった点】
                  .user-message-body__text
                  = review.content_bad

                  .user-message-body__icons
                    .user-message-body__icons-left
                      = render partial: "reviews/reviews", locals: { review: review}
                      %span
                      #{review.updated_at.strftime("%Y/%m/%d %H:%M") }の投稿
                    .user-message-body__icons-right
                      = fa_icon "flag-o", class:"icon-flag"
                    .icon-balloon
        .message-content
          %form.message-form
            %p
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
            %button
              = link_to 'このスクールのレビューを投稿する', new_school_review_path(@school,@review), class:"comment-btn"
= render partial: '/schools/footer', locals: { }