.single-container
  = render partial: 'schools/header', locals: { }
  = render partial: 'schools/bread-crumbs', locals: { }
  %main.single-main
    %section.sell-main
      .sell-container
        .sell-container__inner
          %h2.sell-container__inner__title #{@school.name}のレビューを入力
          = form_for([@school, @review] , html:{class: "sell-form"})do |f|
            .sell-content
              .form-group
                %label.form-group__name
                  評価点 (1:非常に不満,2:不満,3:普通, 4:満足, 5:非常に満足)
                  %span.form-require 必須
                %div
                  = f.number_field :rate, class: "input-default", value: 1, max: 10, min: 1
              .form-group-next
                %label.form-group-next__name
                  スクールの良かった点
                  %span.form-require 必須
                = f.text_area :content_good, class: "textarea-default", placeholder: "例)渋谷教室は渋谷駅から徒歩3分とアクセスも抜群で教室も綺麗で、学習する環境としては最高でした。スクールの受講生も皆意識が高い人が多く、毎日刺激をもらい、高いモチベーションを保つことができました。（必須 200文字以内）", rows: "5"
              .form-group-next
                %label.form-group-next__name
                  スクールの悪かった点
                  %span.form-require 必須
                = f.text_area :content_bad, class: "textarea-default", placeholder: "例)テックコネクトというSkypeのようなチャットツールを用いて、いつでもメンターに質問できると宣伝されていますが、最近は受講者が多く、メンターさんに繋がるまで1時間以上待機するケースも多いです。（必須 200文字以内）", rows: "5"
            .sell-content.sell-btn-box
              %div
              = f.submit "レビューを投稿する", class:"red-button"
              = link_to "", class: "gray-button" do
                もどる

